<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">

    <title>Directory of car</title>
</head>
<body>

<!-- header and description -->
<div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
            <h4 class="text-white">Directory of car</h4>
            <div class="text-muted">
                <p>Hello, its my directory of car.</p>
                <p>This service is called "Directory of car". You can add, edit, or delete a car. Thanks to the AJAX
                    request, you can view update in table without reloading the page. Button "Get base statistics"
                    showing by thymleaf, how much records in base.
                </p>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
                aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="col">
            <h6 style="color: #fff">Today: <span th:text="${todayDate}"></span></h6>
        </div>

        <!-- Default dropleft button -->
        <div class="btn-group dropleft">
            <button type="button"
                    class="btn btn-secondary dropdown-toggle"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    id="reset">
                Get base statistic
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <span>Count of records: <span th:text="${countOfNotes}"></span></span>
            </div>
        </div>
    </nav>
</div>

<!-- general container -->
<div class="container-fluid">
    <!-- container of the main part-->
    <main class="container-fluid">

        <!-- main content's container -->
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto mt-5">
                <div class="container">
                    <!-- bar of buttons list and new car -->
                    <ul class="nav nav-tabs" id="myTab" role="tablist">

                        <!-- cars' list -->
                        <li class="nav-item">
                            <a class="nav-link active" id="list-tab" data-toggle="tab" href="#list" role="tab"
                               aria-controls="list"
                               aria-selected="true">Cars table</a>
                        </li>

                        <!-- new car -->
                        <li class="nav-item">
                            <a class="nav-link" id="newCar-tab" data-toggle="tab" href="#newCar" role="tab"
                               aria-controls="newCar"
                               aria-selected="false">New car</a>
                        </li>
                    </ul>

                    <!-- content -->
                    <div class="tab-content" id="myTabContent">

                        <!-- cars' list -->
                        <div class="tab-pane fade show active" id="list" role="tabpanel" aria-labelledby="list-tab">
                            <!-- the name of the panel cars' list-->
                            <div class="tables_name_panel border">
                                <h5>All cars</h5>
                            </div>
                            <!-- cars'list -->
                            <div class="row">
                                <div class="table_container col">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th scope="col">Id</th>
                                            <th scope="col">License plate</th>
                                            <th scope="col">Brand</th>
                                            <th scope="col">Model</th>
                                            <th scope="col">Color</th>
                                            <th scope="col">Year</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Edit</th>
                                            <th scope="col">Delete</th>
                                        </tr>
                                        </thead>

                                        <tbody id="cars">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <!-- new car -->
                        <div class="tab-pane fade" id="newCar" role="tabpanel" aria-labelledby="newCar-tab">
                            <!-- the name of the panel -->
                            <div class="tables_name_panel border">
                                <h5>Add new car</h5>
                            </div>
                            <!-- new car's form -->
                            <div class="row">
                                <div class="col">
                                    <div id="newCarBody">
                                        <!-- Generating page of the new car -->
                                        <div class="row justify-content-center">
                                            <div class="col-4">
                                                <form action="/api/car/add" id="addForm" method="post">
                                                    <div class="form-group text-center">
                                                        <label for="addLicensePlate"
                                                               class="font-weight-bold">License plate
                                                        </label>

                                                        <input type="text"
                                                               class="form-control"
                                                               name="licensePlate"
                                                               id="addLicensePlate">
                                                    </div>

                                                    <div class="form-group text-center">
                                                        <label for="addBrand"
                                                               class="font-weight-bold">Brand
                                                        </label>

                                                        <input type="text"
                                                               class="form-control"
                                                               name="brand"
                                                               id="addBrand">
                                                    </div>

                                                    <div class="form-group text-center">
                                                        <label for="addModel"
                                                               class="font-weight-bold">Model
                                                        </label>

                                                        <input type="text"
                                                               class="form-control"
                                                               name="model"
                                                               id="addModel">
                                                    </div>

                                                    <div class="form-group text-center">
                                                        <label for="addColor"
                                                               class="font-weight-bold">Color
                                                        </label>

                                                        <input type="text"
                                                               class="form-control"
                                                               name="color"
                                                               id="addColor">
                                                    </div>

                                                    <div class="form-group text-center">
                                                        <label for="addYear"
                                                               class="font-weight-bold">Year
                                                        </label>

                                                        <input type="number"
                                                               class="form-control"
                                                               name="yearOfManufacture"
                                                               id="addYear">
                                                    </div>

                                                    <div class="form-group text-center">
                                                        <label for="addPrice"
                                                               class="font-weight-bold">Price
                                                        </label>

                                                        <input type="number"
                                                               class="form-control"
                                                               name="price"
                                                               id="addPrice">
                                                    </div>

                                                    <div class="row justify-content-center">
                                                        <button type="submit" class="btn btn-success" id="save">Add new
                                                            car
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<!-- edit modal -->
<div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="edit-car" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="edit-car">Edit car</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form action="/api/car/update/" class="text-center" id="editForm" method="put">
                    <div class="form-group">
                        <label for="editId" class="col-form-label">Id</label>
                        <input type="number" class="form-control" id="editId" readonly="readonly">
                    </div>

                    <div class="form-group">
                        <label for="editLicensePlate" class="col-form-label">License plate</label>
                        <input type="text" class="form-control" id="editLicensePlate">
                    </div>

                    <div class="form-group">
                        <label for="editBrand" class="col-form-label">Brand</label>
                        <input type="text" class="form-control" id="editBrand">
                    </div>

                    <div class="form-group">
                        <label for="editModel" class="col-form-label">Model</label>
                        <input type="text" class="form-control" id="editModel">
                    </div>

                    <div class="form-group">
                        <label for="editColor" class="col-form-label">Color</label>
                        <input type="text" class="form-control" id="editColor">
                    </div>

                    <div class="form-group">
                        <label for="editYear" class="col-form-label">Year</label>
                        <input type="number" class="form-control" id="editYear">
                    </div>

                    <div class="form-group">
                        <label for="editPrice" class="col-form-label">Price</label>
                        <input type="number" class="form-control" id="editPrice">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="edit">Edit</button>
            </div>
        </div>
    </div>
</div>


<!-- delete modal -->
<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-car" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delete-car">Delete car</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form action="/api/car/delete" class="text-center" id="deleteForm" method="delete">
                    <div class="form-group">
                        <label for="deleteId" class="col-form-label">Id</label>
                        <input type="text" class="form-control" id="deleteId" readonly="readonly">
                    </div>

                    <div class="form-group">
                        <label for="deleteLicensePlate" class="col-form-label">License plate</label>
                        <input type="text" class="form-control" id="deleteLicensePlate" readonly="readonly">
                    </div>

                    <div class="form-group">
                        <label for="deleteBrand" class="col-form-label">Brand</label>
                        <input type="text" class="form-control" id="deleteBrand" readonly="readonly">
                    </div>

                    <div class="form-group">
                        <label for="deleteModel" class="col-form-label">Model</label>
                        <input type="text" class="form-control" id="deleteModel" readonly="readonly">
                    </div>

                    <div class="form-group">
                        <label for="deleteColor" class="col-form-label">Color</label>
                        <input type="text" class="form-control" id="deleteColor" readonly="readonly">
                    </div>

                    <div class="form-group">
                        <label for="deleteYear" class="col-form-label">Year</label>
                        <input type="number" class="form-control" id="deleteYear" readonly="readonly">
                    </div>

                    <div class="form-group">
                        <label for="deletePrice" class="col-form-label">Price</label>
                        <input type="number" class="form-control" id="deletePrice" readonly="readonly">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="delete">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
<script src="js/MyScript.js"></script>

</body>
</html>